*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #d4f0fc
}

/*-----------------estilos de header---------------------*/
header {
	background-image:url('../img/imgprueba.jpg');
	/*background-repeat: no-repeat;*/
	background-size: cover;
	height: 500px;
}

.logofli{
	padding-top: 50px;
	padding-left: 50px
}

.titulo{
	text-align: center;
	font-size: 400%;
	color: #fff;
}

.titulo a {
	text-decoration: none;
	color: #02a9f7;
	background: #fff;
	border-radius: 100px;
	font-size: 25px;
	text-align: center;
	padding: 15px 10px;
	box-shadow: 0px 2px 2px #fff ;
}

/*.titulo a:hover{
	box-shadow: 0px 2px 0px #1d64a6;
}*/

.titulo a:active {
	box-shadow: none;
}


ul {list-style-type: none;}


ul li a {
	text-decoration: none;
	color: #fff;
	font-size:25px;
}

/*-------------------estilos parte que es flisol?-------------------------*/

.ques {
	text-align: center;
	padding: 10% 15%
}

h2 {
	text-align: center;
	font-size: 50px;
}

.ques p{
	font-size:30px
}

/*-----------------------------estilos de telleres--------------------------------------------*/

.card {
	height: 400px;
	margin: 45px;
	background-color: red;
	border-radius: 10px;
	text-align: center;
}

.card img {
	height: 400px
}

/*.card1 {
	height: 500px;
	margin: 30px;
	background-image: url('../img/cerebro.jpg');
	background-size: cover;
	border-radius: 10px;
	text-align: center;
}

.card2 {
	height: 500px;
	margin: 30px;
	background-image: url('../img/cerebro.jpg');
	background-size: cover;
	border-radius: 10px;
	text-align: center;
}*/

.registro {
	background-color: #01303f;
	height: 100px;
	margin-top: 10px
	width:100%;
}

.registro a {
	float: right;
	margin:20px 80px;
	text-decoration: none;
	color: #02a9f7;
	background: #fff;
	border-radius: 100px;
	font-size: 25px;
	text-align: center;
	padding: 15px 10px;
	box-shadow: 0px 2px 2px #fff ;
}

/*---------------------------------comparaciones--------------------------*/
.acordeon {
	width: auto;
	margin: 10px 22%;

}

.acordeon li a{
	color: #fff;
	display: block;
	padding: 15px 20px;
	background: #01303f;

}


.acordeon li a:hover{
	background: #1a95d5;
	color: #fff;
}

.acordeon .icono {
	font-size: 12px;
	line-height: 18px;
}

.acordeon .icono.izquierda {
	float: right;
	margin:10px;
	font-size: 20px
}

.acordeon li ul {
	display: none;
}

.acordeon li ul {
	background: #fff;
	color: #02577a;
	padding: 40px
}
